*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.search{
    display: flex;
}

#searchBar{
    padding: 10px;
    width: 40%;
    margin-left: 400px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.705);
}

#icon{
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.poster{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}

.posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    cursor: pointer;
}

.poster:hover{
    transform: scale(1.08);
}

.posters::-webkit-scrollbar{
    display: none;
}

.large{
    max-height: 250px;
}

.large:hover{
    transform: scale(1.09);
}

.row{
    color: white;
    margin-left: 15px;
}

.banner{
    background: url(../Images/banner.jpg);
    background-size: cover;
    color: white;
    height: 450px;
    object-fit: contain;
}

.contents{
    margin-left: 40px;
    height: 200px;
    padding-top: 100px;
}

.title{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 10px;
}

.description{
    width: 30rem;
    font-size: 14px;
    padding-top: 1rem;
    line-height: 1.2rem;
}

button{
    background-color: rgba(96, 95, 95, 0.5);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.logo{
    width: 60px;
}

.avatar{
    width: 30px;
}

.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.fade{
    background: linear-gradient(180deg,transparent,rgba(39, 39, 39, 0.501),#111);
    height: 7.5rem;
    margin-top: 130px;
}

button:hover{
    background-color: white;
    color: black;
}